{% extends "base.html" %}
{% load static %}

{% block title %}Delete Pest{% endblock %}
{% block content %}
    <div class="edit-delete edit-photo">
        <h2>Delete pest</h2>
        <!-- Starts Delete Pest Form -->
        <form method="post" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="delete-btn" type="submit">Delete</button>
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
        </form>
        <!-- End Delete Pest Form -->
    </div>
{% endblock %}